body {
  font-family: "Dosis", sans-serif;
  margin: 0;
}

.contenedor-principal {
  display: grid;
  grid-template-areas: "aside" "filtros" "main" "footer";
  grid-template-rows: 8% 10% auto 8%;
  height: 100vh;
}

aside {
  grid-area: aside;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  border-bottom: #f69cc2 1px solid;
}

menu {
  display: none;
}

.logo {
  width: 30%;
}

.contenedor-filtros {
  grid-area: filtros;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.5rem 1rem;
}

.selector-filtro {
  width: 80%;
  border-radius: 10px;
  margin-top: 10px;
  padding: 6px;
}

.contenido-principal {
  grid-area: main;
  padding: 15px;
}

.contenedor-tarjetas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}

.tarjeta-movil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tarjeta-escritorio {
  display: none;
}

.img-producto {
  width: 300px;
}

.articulo {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 0;
}

.precio {
  font-size: 20px;
  color: #1a1a1a;
}

.boton-comprar {
  outline: none;
  background-color: #f2ae75;
  border: none;
  padding: 10px 15px;
  font-size: 18px;
  color: #1a1a1a;
}

.paginacion {
  display: flex;
  justify-content: center;
}

.links-paginacion {
  display: inline-block;
  margin-right: 1rem;
  color: #1a1a1a;
  text-decoration: none;
  cursor: pointer;
}

.links-paginacion.active {
  color: #f69cc2;
}

footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f69cc2;
}

@media (width >= 576px) {
  .contenedor-principal {
    grid-template-areas: "aside filtros" "aside main" "footer main";
    grid-template-columns: 15% auto;
    grid-template-rows: 8% auto 10%;
  }

  aside {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-right: 1px solid #f69cc2;
  }

  .logo {
    width: 100%;
  }

  menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .icono-menu {
    display: none;
  }

  .contenedor-tarjetas {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .tarjeta-escritorio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .tarjeta-movil {
    display: none;
  }

  .paginacion {
    display: none;
  }
}
